.column-xspfpl_dynamic{
    width:30px;
    text-align:center;
}
.column-xspfpl_dynamic .is-static{
    opacity:0.2;
}
.column-xspfpl_loads,
.column-xspfpl_health{
    width:60px;
}
#the-list .tracks-table .track-album{
    display:none;
}
#the-list .tracks-table td{
    display: inline;
    padding: 0;
    margin: 0;
}
#the-list .tracks-table td.track-artist:after{
    content:" - ";
}
