@import url(tracks-table.css);

.xspfpl-links{
    text-align:right;
}
.xspfpl-links a {
    display:inline-block;
    margin-right:10px;
}

a.xspf-link.thk-friendly{
    background-color:#e74c3c;
}
a.xspf-link.thk-friendly:hover{
    background-color:#d62c1a;
}