.tracks-table{
    width:100%;
}

.tracks-table .tracks-table-header{
    font-size:1.1em;
    line-height:1.35em;
    padding:0.25em;
}
.tracks-table .track-number{
    text-align:center;
}

.tracks-table .tracks-table-row:nth-child(odd){
    background:rgba(0,0,0,0.025);
}

.tracks-table .tracks-table-row:hover{
    background:rgba(0,0,0,0.05);
}